@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$font_color: #182747;
$table_primary: #ffd484d0;
$dimmed_font_color: #1827479b;

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(226, 226, 226, 0.6);
    z-index: 1000;
    backdrop-filter: blur(1px);
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hidden {
        display: none;
    }

    .modal {
        min-width: 600px;
        max-width: 800px;
        min-height: unset;
        background-color: #fff;
        z-index: 1000;
        color: $font_color;
        border: 2px solid #dddddd;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 8px;
        display: block;
        position: relative;
        box-sizing: border-box;
        overflow-y: scroll;
        padding-bottom: 20px;

        .modal-message {
            padding: 16px 20px;
            border: 1px solid #ffecb5;
            background-color: #fff3cd;
            color: #664d03;
            margin: 0 20px;
            border-radius: 8px;
            margin-top: 12px;

            &.hidden {
                display: none;
            }
        }

        &.high {
            max-height: 90vh;
            min-height: 660px;

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
            .modal-content-wrapper {
                height: 500px;
            }

            .modal-tabs-wrapper {
                padding: 0 12px;
            }
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 18px 22px;
            gap: 20px;

            h2 {
                margin-left: 0;
            }

            .header-text {
                h2 {
                    font-weight: 500;
                    margin: 0;
                }

                h4 {
                    margin: 8px 0;
                    margin-bottom: 0;
                    color: rgba(17, 17, 17, 0.7);
                    font-weight: 500;
                }
            }

            button {
                border: none;
                background-color: transparent;
                padding: 0;
                color: $dimmed_font_color;
                transition: .2s ease-in-out;
                cursor: pointer;
                
                &:hover {
                    color: $font_color;
                }

                i {
                    font-size: 1.5em;
                }
            }
        }

        .divider {
            display: block;
            height: 3px;
            width: 95%;
            margin-right: auto;
            margin-left: auto;
            background-color: #dddddd;
            box-sizing: border-box;
        }

        .modal-content-wrapper {
            margin-top: 12px;

            &.center {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .modal-image {
                margin-left: 20px;
                width: 200px;
                height: 200px;
            }

            p {
                margin: 0;
                padding: 0;
                margin-left: 8px;
                font-size: 1.1em;
            }

            .input-wrapper {
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 12px;
                padding: 10px 20px;
                align-items: center;

                .input-error-wrapper {
                    display: grid;

                    span {
                        color: #be0000;
                        margin-top: 6px;
                        text-align: center;

                        &.no-error {
                            display: none;
                        }
                    }
                }

                label {
                    text-align: right;
                }

                textarea,
                input {
                    padding: 8px 12px;
                    background-color: #dddddd71;
                    border: 2px solid transparent;
                    border-radius: 6px;
                    transition: .3s ease-in-out;
                    min-width: 1px;

                    &.error {
                        border: 2px solid #be0000;

                        &:focus, &:hover {
                            box-shadow: 0 0 0 2pt #fff;
                        }
                    }

                    &.day {
                        &::placeholder {
                            color: $font_color;
                        }
                    }

                    &::placeholder {
                        color: #9c9c9c;
                    }

                    &:focus, &:hover {
                        background-color: #fff;
                        box-shadow: 0 0 0 2pt $table_primary;
                        outline: none;
                    }
                }

                textarea {
                    resize: none;
                    min-height: 120px;
                    font-family: 'Roboto Condensed', sans-serif;
                }

                &.icon {
                    background-color: rgba(238, 238, 238, 0.9);
                    display: flex;
                    border-radius: 10px;
                    padding: 8px 20px;
                    color: rgba(17, 17, 17, 0.4);

                    input {
                        background-color: transparent;
                        width: 100%;

                        &:focus,
                        &:hover {
                            box-shadow: none;
                        }
                    }
                }
            }

            &.disabled {
                .input-wrapper {
                    label {
                        color: $dimmed_font_color;
                    }

                    input {
                        pointer-events: none;
                        background-color: #dddddd;
                        color: $dimmed_font_color;
                        transition: .2s ease-in-out;
                    }
                }
            }
        }

        @media (max-height: 700px) {

            &.high {
                min-height: unset;
            }
        }

        @media (max-width: 520px) {
            form {
                .modal-content-wrapper {
                    padding-right: 0;
                    max-height: unset;
                    min-height: unset;
                    
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        position: relative;
                        box-sizing: border-box;
                        align-items: flex-start;
                        
                        textarea,
                        input {
                            box-sizing: border-box;
                            max-width: unset;
                            
                            width: 100%;
                            margin: 0;
                        }
                    }
                }

                .button-wrapper {
                    .button-icon {
                        span {
                            display: none;
                        }
                    }

                    .button-secondary {
                        display: none;
                    }
                }
            }
        }

        &.alert {
            min-width: 400px;
            min-height: unset;

            .button-wrapper {
                justify-content: center;
            }

            .modal-header {
                h2 {
                    font-weight: 500;
                    display: grid;
                    gap: 3px;
                    margin-left: 0;


                    span {
                        color: $dimmed_font_color;
                        font-size: 0.9em;
                    }
                }
            }
        }

        @media (max-width: 875px) {
            min-width: unset;
            width: 100%;
            height: 100%;
            max-height: 100vh;
            
            &.alert {
                min-width: unset;
                width: 80%;
                height: unset;
                
                .modal-header {
                    display: inline;
    
                    h2 {
                        text-align: center;
                    }
                }
            }

            .divider {
                display: none;
            }
        }

        .button-wrapper {
            padding: 12px 20px 12px 20px;
            width: 100%;
            justify-content: flex-end;
            box-sizing: border-box;

            &.between {
                padding-left: 20px;
                padding-right: 0;
            }
        }
    }
}