@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(226, 226, 226, 0.6);
  z-index: 1000;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay.hidden {
  display: none;
}
.overlay .modal {
  min-width: 600px;
  max-width: 800px;
  min-height: unset;
  background-color: #fff;
  z-index: 1000;
  color: #182747;
  border: 2px solid #dddddd;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  display: block;
  position: relative;
  box-sizing: border-box;
  overflow-y: scroll;
}
.overlay .modal.high {
  max-height: 90vh;
  min-height: 660px;
}
.overlay .modal.high form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overlay .modal.high .modal-content-wrapper {
  height: 500px;
}
.overlay .modal.high .modal-tabs-wrapper {
  padding: 0 12px;
}
.overlay .modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 22px;
  gap: 20px;
}
.overlay .modal .modal-header .header-text h2 {
  font-weight: 500;
  margin: 0;
}
.overlay .modal .modal-header .header-text h4 {
  margin: 8px 0;
  margin-bottom: 0;
  color: rgba(17, 17, 17, 0.7);
  font-weight: 500;
}
.overlay .modal .modal-header button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: rgba(24, 39, 71, 0.6078431373);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.overlay .modal .modal-header button:hover {
  color: #182747;
}
.overlay .modal .modal-header button i {
  font-size: 1.5em;
}
.overlay .modal .divider {
  display: block;
  height: 3px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  background-color: #dddddd;
  box-sizing: border-box;
}
.overlay .modal .modal-content-wrapper {
  margin-top: 12px;
}
.overlay .modal .modal-content-wrapper.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay .modal .modal-content-wrapper .modal-image {
  margin-left: 20px;
  width: 200px;
  height: 200px;
}
.overlay .modal .modal-content-wrapper p {
  margin: 0;
  padding: 0;
  margin-left: 8px;
  font-size: 1.1em;
}
.overlay .modal .modal-content-wrapper .input-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
  padding: 10px 20px;
  align-items: center;
}
.overlay .modal .modal-content-wrapper .input-wrapper label {
  text-align: right;
}
.overlay .modal .modal-content-wrapper .input-wrapper textarea,
.overlay .modal .modal-content-wrapper .input-wrapper input {
  padding: 8px 12px;
  background-color: rgba(221, 221, 221, 0.4431372549);
  border: none;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  min-width: 1px;
}
.overlay .modal .modal-content-wrapper .input-wrapper textarea.day::-moz-placeholder, .overlay .modal .modal-content-wrapper .input-wrapper input.day::-moz-placeholder {
  color: #182747;
}
.overlay .modal .modal-content-wrapper .input-wrapper textarea.day:-ms-input-placeholder, .overlay .modal .modal-content-wrapper .input-wrapper input.day:-ms-input-placeholder {
  color: #182747;
}
.overlay .modal .modal-content-wrapper .input-wrapper textarea.day::placeholder,
.overlay .modal .modal-content-wrapper .input-wrapper input.day::placeholder {
  color: #182747;
}
.overlay .modal .modal-content-wrapper .input-wrapper textarea::-moz-placeholder, .overlay .modal .modal-content-wrapper .input-wrapper input::-moz-placeholder {
  color: #9c9c9c;
}
.overlay .modal .modal-content-wrapper .input-wrapper textarea:-ms-input-placeholder, .overlay .modal .modal-content-wrapper .input-wrapper input:-ms-input-placeholder {
  color: #9c9c9c;
}
.overlay .modal .modal-content-wrapper .input-wrapper textarea::placeholder,
.overlay .modal .modal-content-wrapper .input-wrapper input::placeholder {
  color: #9c9c9c;
}
.overlay .modal .modal-content-wrapper .input-wrapper textarea:focus, .overlay .modal .modal-content-wrapper .input-wrapper textarea:hover,
.overlay .modal .modal-content-wrapper .input-wrapper input:focus,
.overlay .modal .modal-content-wrapper .input-wrapper input:hover {
  background-color: #fff;
  box-shadow: 0 0 0 2pt rgba(255, 212, 132, 0.8156862745);
  outline: none;
}
.overlay .modal .modal-content-wrapper .input-wrapper textarea {
  resize: none;
  min-height: 120px;
  font-family: "Roboto Condensed", sans-serif;
}
.overlay .modal .modal-content-wrapper .input-wrapper.icon {
  background-color: rgba(238, 238, 238, 0.9);
  display: flex;
  border-radius: 10px;
  padding: 8px 20px;
  color: rgba(17, 17, 17, 0.4);
}
.overlay .modal .modal-content-wrapper .input-wrapper.icon input {
  background-color: transparent;
  width: 100%;
}
.overlay .modal .modal-content-wrapper .input-wrapper.icon input:focus, .overlay .modal .modal-content-wrapper .input-wrapper.icon input:hover {
  box-shadow: none;
}
.overlay .modal .modal-content-wrapper.disabled .input-wrapper label {
  color: rgba(24, 39, 71, 0.6078431373);
}
.overlay .modal .modal-content-wrapper.disabled .input-wrapper input {
  pointer-events: none;
  background-color: #dddddd;
  color: rgba(24, 39, 71, 0.6078431373);
  transition: 0.2s ease-in-out;
}
@media (max-height: 700px) {
  .overlay .modal.high {
    min-height: unset;
  }
}
@media (max-width: 520px) {
  .overlay .modal form .modal-content-wrapper {
    padding-right: 0;
    max-height: unset;
    min-height: unset;
  }
  .overlay .modal form .modal-content-wrapper .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
  }
  .overlay .modal form .modal-content-wrapper .input-wrapper textarea,
.overlay .modal form .modal-content-wrapper .input-wrapper input {
    box-sizing: border-box;
    max-width: unset;
    width: 100%;
    margin: 0;
  }
  .overlay .modal form .button-wrapper .button-icon span {
    display: none;
  }
  .overlay .modal form .button-wrapper .button-secondary {
    display: none;
  }
}
.overlay .modal.alert {
  min-width: 400px;
  min-height: unset;
}
.overlay .modal.alert .button-wrapper {
  justify-content: center;
}
.overlay .modal.alert .modal-header h2 {
  font-weight: 500;
  display: grid;
  gap: 3px;
  margin-left: 0;
}
.overlay .modal.alert .modal-header h2 span {
  color: rgba(24, 39, 71, 0.6078431373);
  font-size: 0.9em;
}
@media (max-width: 875px) {
  .overlay .modal {
    min-width: unset;
    width: 100%;
    height: 100%;
    max-height: 100vh;
  }
  .overlay .modal.alert {
    min-width: unset;
    width: 80%;
    height: unset;
  }
  .overlay .modal.alert .modal-header {
    display: inline;
  }
  .overlay .modal.alert .modal-header h2 {
    text-align: center;
  }
  .overlay .modal .divider {
    display: none;
  }
}
.overlay .modal .button-wrapper {
  padding: 12px 20px 12px 20px;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
}
.overlay .modal .button-wrapper.between {
  padding-left: 20px;
  padding-right: 0;
}/*# sourceMappingURL=modal.css.map */