$font_color: #182747;
$dimmed_font_color: #1827479b;
$primary_blue: #0d6efd;
$legendary_green: #00BFA6;

.content.dashboard {
    
    .summary-wrapper {
        padding-bottom: 30px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        max-width: 1200px;

        .card-header {
            padding-bottom: 20px;
            
            .action-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    font-weight: 500;
                    font-size: 1.2em;
                    margin: 0;
                    margin-top: 8px;
                }
            }

            h2 {
                margin: 0;
            }

            p {
                color: $font_color;
                font-size: 1.1em;
            }
        }

        .summary-card {
            background-color: #fff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 8px;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                font-size: 2em;
                font-weight: 500;
                margin: 0;
            }
        }

        .chart-card {
            &#patientsChart {
                grid-column-start: 1;
                grid-column-end: 3;

                grid-row-start: 1;
                grid-row-end: 4;
            }

            .chart-wrapper {
                box-sizing: border-box;
                width: 100%;
                background-color: #fff;
                padding: 20px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border-radius: 8px;

                .custom-legend {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 24px;

                    .legend-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;

                        p {
                            margin: 0;
                        }
                        
                        span {
                            display: block;
                            width: 12px;
                            height: 12px;
                            background-color: #111;
                            border-radius: 50%;

                            &.color-green {
                                background-color: $legendary_green;
                            }

                            &.color-blue {
                                background-color: $primary_blue;
                            }
                        }
                    }
                }
                
                canvas {
                    height: 400px;
                    max-height: 500px;
                    max-width: 100%;
                }

                .additional-summary {
                    h3 {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    @media (max-width: 990px) {
        .summary-wrapper {
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
        }
    }
}