@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$font_color: #182747;
$dimmed_font_color: #1827479b;
$extra_dimmed_font_color: #18274734;
$primary_color: #ffecc97d;
$table_primary: #ffd484d0;
$table_primary_hover: #ffc65c7d;

body {
    color: #111;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    height: 100%;

    .badge {
        display: block;
        width: 35px;
        padding: 4px 12px;
        min-width: 35px;
        text-align: center;
        border-radius: 8px;
        color: #eee;

        &.danger {
            background-color: #e05050;
        }
        &.success {
            background-color: #7e8838;
            // color: $dimmed_font_color;
        }
    }

    .loader {
        display: inline-block;
        width: 30px;
        height: 30px;

        &.big {
            width: 80px;
            height: 80px;

            &:after {
                width: 74px;
                height: 74px;
                margin: 0;
            }
        }
        
        &::after {
            content: " ";
            display: block;
            width: 24px;
            height: 24px;
            margin: 3px;
            border-radius: 50%;
            border: 2px solid rgb(177, 49, 49);
            border-color: $font_color transparent $font_color transparent;
            animation: spinner-animation .9s linear infinite;
        }
        
        &.none {
            display: none;
        }

        &.spinning {
            display: initial;
        }

        @keyframes spinner-animation {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
    }

    button {
        border: none;
        cursor: pointer;
        font-size: 1em;
        color: $font_color;
        background-color: transparent;
        position: relative;

        .tooltip {
            position: absolute;
            background-color: rgba(17, 17, 17, 0.75);
            margin: 0;
            color: #eee;
            padding: 8px 12px;
            opacity: 0;
            pointer-events: none;
            line-height: 1;
            display: inline-block;
            border-radius: 8px;

            &.hidden {
                display: none;
            }

            &::after {
                content: '';
                position: absolute;
                transform: translateY(-50%);
                width: 0;
                height: 0;
            }

            &.left {
                top: 50%;
                left: -12px;
                transform: translate(-100%, -50%);

                &::after {
                    right: -7.5px;
                    top: 50%;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: 8px solid rgba(17, 17, 17, 0.75);
                }
            }

            &.top {
                top: -14px;
                left: -12px;
                transform: translateY(-100%);

                &::after {
                    left: 40px;
                    bottom: 0;
                    transform: translate(50%, 100%);
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                    border-top: 8px solid rgba(17, 17, 17, 0.75);
                }
            }
        }

        &:hover {
            .tooltip {
                opacity: 1;
            }
        }

        &.action-button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: .2s ease-in-out;
            position: relative;
            
            &.opened {
                background-color: rgba(17, 17, 17, 0.1);
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }

            &:hover {
                background-color: rgba(17, 17, 17, 0.1);
            }

            span {
                display: block;
                width: 5px;
                height: 5px;
                background-color: $dimmed_font_color;
                border-radius: 50%;
            }

            .action-menu {
                position: absolute;
                bottom: -72px;
                right: -20px;
                margin: 0;
                padding: 0;
                z-index: 1000;
                background-color: rgb(255, 255, 255);
                border: 2px solid rgba(204, 204, 204, 0.448);
                list-style-type: none;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                padding: 14px 14px;
                border-radius: 8px;
                gap: 8px;
                opacity: 0;
                pointer-events: none;
                transition: .2s ease-in-out;

                li {
                    margin: 0;
                    padding: 3px 2px;
                    display: flex;
                    justify-content: flex-start;
                    gap: 12px;
                    font-weight: 400;
                }
            }

            &.opened {
                .action-menu {
                    opacity: 1;
                    z-index: 1;
                    transform: translateY(10px);
                    pointer-events: all;
                }
            }
        }

        &.hidden {
            visibility: hidden;
            pointer-events: none;
            display: none;
        }

        &.button-disabled {
            color: $dimmed_font_color;
            white-space: nowrap;
            cursor: default;
        }

        &.button-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            transition: .2s ease-in-out;

            &:hover {
                text-decoration: underline;
            }
        }

        &.button-danger {
            color: #be0000;
            white-space: nowrap;
        }

        &.button-secondary {
            &:hover {
                text-decoration: underline;
            }

            &.button-disabled {
                text-decoration: none;
            }
        }

        &.button-primary {
            padding: 8px 12px;
            background-color: $table_primary;
            border: 2px solid #dddddd;
            border-radius: 6px;
            transition: .2s ease-in-out;

            i {
                margin-right: 8px;
            }
            
            &:hover {
                background-color: $table_primary_hover;
                border: 2px solid $primary_color;
            }

            &.danger {
                background-color: #be0000;
                color: #eee;
            }

            &.button-disabled {
                background-color: #dddddd;
            }
        }

        &.button-filter {
            padding: 8px 12px;
            border-radius: 8px;
            font-weight: 500;
            display: flex;
            gap: 8px;
            border: 2px solid #ddd;
            transition: .2s ease-in-out;
            
            &:hover {
                background-color: #ddd;
            }
            
            &.active {
                border: 2px solid #111;
                color: #eee;
                background-color: #111;
            }
        }

        &.button-link {
            color: rgb(13, 110, 253);
            padding: 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .button-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;

        &.right {
            margin-top: 10px;
            justify-content: flex-end;
        }

        &.between {
            justify-content: space-between;
        }
    }

    .dropdown-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        p {
            color: $font_color;
            margin: 0;
            padding: 0;
        }
        
        .dropdown {
            position: relative;
            z-index: 1;
            height: 100%;

            select {
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: 110%;
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            &:hover {
                .dropdown-button {
                    background-color: #fff;
                    border: 2px solid $dimmed_font_color;
                }
            }

            .dropdown-button {
                background-color: transparent;
                border: 2px solid #dddddd;
                height: 40px;
                gap: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.1em;
                cursor: pointer;
                color: $font_color;
                transition: .2s ease-in-out;

                i {
                    font-size: 0.5em;
                }
            }
        }
    }

    .wrapper {
        display: flex;
        gap: 8px;

        &.vertical {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .container {
        height: 100%;
        min-height: 100vh;
        background-color: rgba(238, 238, 238, 0.3);
        padding-top: 0;
        margin-top: 0;
        transition: .2s ease-in-out;
        overflow-x: hidden;
        width: 100%;

        &.offset {
            .content {
                transform: translateX(250px);
                width: calc(100% - 250px);
            }

            @media (max-width: 620px) {
                .content {
                    width: 100vw;
                }    
            }
        }

        .content {
            padding-top: 0;
            margin-top: 0;
            height: 100%;
            width: calc(100% - 80px);
            padding: 20px 20px;
            transform: translateX(80px);
            box-sizing: border-box;
            transition: .3s ease-in-out;
            position: relative;
            min-height: 100vh;
            overflow: hidden;
            position: relative;

            .loader-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                opacity: 0;
                position: fixed;
                top: 0;
                left: 0;
                background-color: #eee;
                transition: .3s ease-in-out;
                width: 100%;
                height: 100vh;
                z-index: -1000;

                h2 {
                    margin: 0;
                }

                &.loading {
                    z-index: 1000;
                    opacity: 1;
                    transition: .3s ease-in-out;
                }
            }

            .divider {
                display: block;
                background-color: $extra_dimmed_font_color;
                height: 3px;
                width: 100%;
                margin: 12px 0;
            }

            .content-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .header-text {
                    h4 {
                        font-size: 1.2em;
                        color: rgba(17, 17, 17, 0.7);
                        font-weight: 500;
                        margin: 8px 0;
                        margin-bottom: 0;
                    }

                    .button-link {
                        font-size: 1em;
                    }
                }

                h2 {
                    margin-left: 0;
                    font-size: 1.8em;
                }

                button {
                    font-size: 0.8em;
                }
                
                .button-secondary {
                    font-size: 1em;
                }
            }

            .content-info {
                display: flex;
                gap: 32px;
                margin-top: 10px;
                padding: 12px 0;
                flex-wrap: wrap;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    h2 {
                        margin: 0;
                        font-size: 1.4em;
                    }

                    h4 {
                        margin: 0;
                        font-size: 1em;
                        font-weight: 500;
                        color: $dimmed_font_color;
                        text-transform: uppercase;
                    }
                }
            }

            h2 {
                margin: 0;
                color: $font_color;
                font-weight: 600;
                margin-left: 14px;
            }

            .empty-table {
                margin-top: 0;
                padding-bottom: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;

                &.none {
                    display: none;
                }

                &.bigger {
                    height: 70vh;

                    img {
                        width: 220px;
                        height: 220px;
                    }
                }

                img {
                    width: 160px;
                    height: 160px;
                }

                h2 {
                    font-weight: 400;
                }
            }
        }
    }
}