$font_color: #182747;
$dimmed_font_color: #1827479b;
$table_primary: #ffd484d0;
$table_primary_hover: #ffc65c7d;
$primary_blue: #0d6efd;
$primary_blue_hover: #0d6dfd9d;

.table-info {
    margin-left: 10px;
    margin-bottom: 80px;
}

.table-wrapper {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    min-height: fit-content;
    border-radius: 12px;
    margin-top: 20px;
    padding: 0;
    border: 2px solid rgba(17, 17, 17, 0.05);
    background-color: #dddddd5c;
    
    table {
        overflow-y: hidden;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 12px;
        position: relative;
        
        thead {
            tr {
                background-color: #dddddd5c;
                color: #ffffff;
                text-align: left;
                color: $font_color;
                padding: 12px 15px;
                cursor: pointer;
                white-space: nowrap;
                
                &.search-row {
                    background-color: #dddddd5c;
                    border-bottom: 1px solid #dddddd;
                    color: $dimmed_font_color;
                    
                    th {
                        cursor: default;

                        &:hover {
                            background-color: transparent;
                        }

                        &.dummy {
                            padding: 0;
                            height: 0;
                        }
                    }
                    
                    input {
                        width: 100%;
                        padding: 8px 12px;
                        background-color: rgba(255, 255, 255, 0.5);
                        border: none;
                        border-radius: 6px;
                        transition: .3s ease-in-out;
                        min-width: 80px;
                        outline: none;
                        
                        &:focus {
                            background-color: #fff;
                            box-shadow: 0 0 0 2pt $primary_blue;
                        }
                        
                        &:hover {
                            box-shadow: 0 0 0 2pt $primary_blue_hover;
                        }
                    }
                }
                
                th {
                    padding: 12px 15px;
                    transition: .2s ease-in-out;
                    
                    &.non-hover {
                        cursor: default;
                        pointer-events: none;
                        user-select: all;
                    }

                    &:last-child {
                        padding-right: 25px;
                    }

                    &.short {
                        width: 50px;
                        text-align: center;
                    }

                    &:nth-of-type(1) {
                        width: 80px;
                    }

                    &:hover {
                        background-color: #ddd;
                    }
                    
                    &.table-checkbox {
                        cursor: default;
                        
                        &:hover {
                            background-color: transparent;
                        }
                    }

                    .control-icons {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .bi-caret-down-fill {
                            color: #be0000;
                            padding: 4px 8px;
                        }
        
                        .bi-caret-up-fill {
                            color: #198754;
                            padding: 4px 8px;
                        }
                    }

                    .hidden {
                        display: none;
                    }

                    .table-header-wrapper {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        .expand-button {
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                            font-size: 1em;
                            color: $dimmed_font_color;
                            height: 30px;
                            padding-bottom: 0;
                            padding-top: 0;

                            i {
                                display: flex;
                                height: 30px;
                                justify-content: center;
                                align-items: center;
                                padding: 0;
                            }
                        }

                        i {
                            display: flex;
                            height: 30px;
                            justify-content: center;
                            align-items: center;
                            padding: 0 8px;
                        }
                    }
                    
                    &:first-of-type {
                        border-radius: 3px 0 0 0;
                    }

                    &:last-of-type {
                        border-radius: 0 3px 0 0;
                    }
                }
            }
        }
        
        td {
            padding: 12px 15px;
            white-space: nowrap;
        }
        
        tbody {
            opacity: 1;
            
            &.hide {
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }

            &.table-loader {
                width: 100%;
                pointer-events: none;
                cursor: default;

                &.none {
                    display: none;

                    tr {
                        background-color: transparent;
                        border-bottom: 1px solid transparent;

                        &:nth-of-type(even) {
                            animation: none;
                        }
    
                        &:nth-of-type(odd) {
                            animation: none;
                        }
                    }
                }

                @keyframes table-loader-animation-even {
                    0% { background-color: #f3f3f3 }
                    50% { background-color: #ddd }
                    100% { background-color: #f3f3f3 }
                }

                tr {
                    width: 100%;  
                    color: transparent;

                    &:nth-of-type(even) {
                        animation: table-loader-animation-even 1.4s infinite;
                    }
                }
            }

            tr {
                cursor: pointer;
                border-bottom: 1px solid #dddddd;
                opacity: 1;
                transition: .2s ease-in-out;
                
                &:nth-of-type(odd) {
                    background-color: #fff;
                    &:hover {
                        background-color: #dddddd8d;
                    }
                }
                
                &:nth-of-type(even) {
                    background-color: #f3f3f3;
                    &:hover {
                        background-color: #dddddd8d;
                    }
                }

            }
        }
    }

}

.table-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    padding: 0 12px;

    p {
        font-size: 1em;
        margin: 0;
        padding: 0;
    }
}

