$font_color: #182747;
$dimmed_font_color: #1827479b;
$table_primary: #ffd484d0;
$table_primary_hover: #ffc65c7d;

.table-info {
    margin-left: 10px;
    margin-bottom: 80px;
}

.table-wrapper {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    
    table {
        overflow-y: hidden;
        margin-top: 20px;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 12px;
        
        thead {
            tr {
                background-color: $table_primary;
                color: #ffffff;
                text-align: left;
                color: $font_color;
                padding: 12px 15px;
                cursor: pointer;
                white-space: nowrap;

                &.search-row {
                    background-color: transparent;
                    border-bottom: 1px solid #dddddd;
                    color: $dimmed_font_color;
                    
                    th {
                        cursor: default;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                    
                    input {
                        width: 100%;
                        padding: 8px 12px;
                        background-color: #dddddda6;
                        border: none;
                        border-radius: 6px;
                        transition: .3s ease-in-out;
                        min-width: 80px;
                        
                        &:focus, &:hover {
                            background-color: #fff;
                            box-shadow: 0 0 0 2pt $table_primary;
                            outline: none;
                        }
                    }
                }
                
                th {
                    padding: 12px 15px;
                    transition: .2s ease-in-out;
                    
                    &.non-hover {
                        cursor: default;
                        pointer-events: none;
                        user-select: all;
                    }

                    &:last-child {
                        padding-right: 25px;
                    }

                    &.short {
                        width: 50px;
                        text-align: center;
                    }

                    &:nth-of-type(1) {
                        width: 80px;
                    }

                    &:hover {
                        background-color: $table_primary_hover;
                    }
                    
                    &.table-checkbox {
                        cursor: default;
                        
                        &:hover {
                            background-color: transparent;
                        }
                    }

                    .control-icons {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .bi-caret-down-fill {
                            color: #be0000;
                            padding: 4px 8px;
                        }
        
                        .bi-caret-up-fill {
                            color: #829460;
                            padding: 4px 8px;
                        }
                    }

                    .hidden {
                        display: none;
                    }

                    .table-header-wrapper {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;


                        .expand-button {
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                            font-size: 1em;
                            color: $dimmed_font_color;
                            height: 30px;
                            padding-bottom: 0;
                            padding-top: 0;

                            i {
                                display: flex;
                                height: 30px;
                                justify-content: center;
                                align-items: center;
                                padding: 0;
                            }
                        }

                        i {
                            display: flex;
                            height: 30px;
                            justify-content: center;
                            align-items: center;
                            padding: 0 8px;
                        }
                    }
                    
                    &:first-of-type {
                        border-radius: 3px 0 0 0;
                    }

                    &:last-of-type {
                        border-radius: 0 3px 0 0;
                    }
                }
            }
        }
        
        td {
            padding: 12px 15px;
            white-space: nowrap;
        }
        
        tbody {
            &::after {
                content: '';
                display: block;
                height: 90px;
                pointer-events: none;
                z-index: -10000;
            }

            tr {
                cursor: pointer;
                border-bottom: 1px solid #dddddd;
                transition: .2s ease-in-out;
                
                &:nth-of-type(even) {
                    background-color: #f3f3f3;
                }
                
                &:last-of-type {
                    border-bottom: 5px solid $table_primary;
                }
                
                &.non-hover {
                    cursor: default;

                    &:hover {
                        background-color: transparent;

                        &:nth-of-type(even) {
                            background-color: #f3f3f3;
                        }
                    }
                }

                &:hover {
                    background-color: #dddddd;
                }
            }
        }
    }

}

.table-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    padding: 0 12px;

    p {
        font-size: 1em;
        margin: 0;
        padding: 0;
    }
}

