.table-info {
  margin-left: 10px;
  margin-bottom: 80px;
}

.table-wrapper {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.table-wrapper table {
  overflow-y: hidden;
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}
.table-wrapper table thead tr {
  background-color: rgba(255, 212, 132, 0.8156862745);
  color: #ffffff;
  text-align: left;
  color: #182747;
  padding: 12px 15px;
  cursor: pointer;
  white-space: nowrap;
}
.table-wrapper table thead tr.search-row {
  background-color: transparent;
  border-bottom: 1px solid #dddddd;
  color: rgba(24, 39, 71, 0.6078431373);
}
.table-wrapper table thead tr.search-row th {
  cursor: default;
}
.table-wrapper table thead tr.search-row th:hover {
  background-color: transparent;
}
.table-wrapper table thead tr.search-row th.dummy {
  padding: 0;
  height: 0;
}
.table-wrapper table thead tr.search-row input {
  width: 100%;
  padding: 8px 12px;
  background-color: rgba(221, 221, 221, 0.6509803922);
  border: none;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  min-width: 80px;
}
.table-wrapper table thead tr.search-row input:focus, .table-wrapper table thead tr.search-row input:hover {
  background-color: #fff;
  box-shadow: 0 0 0 2pt rgba(255, 212, 132, 0.8156862745);
  outline: none;
}
.table-wrapper table thead tr th {
  padding: 12px 15px;
  transition: 0.2s ease-in-out;
}
.table-wrapper table thead tr th.non-hover {
  cursor: default;
  pointer-events: none;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
}
.table-wrapper table thead tr th:last-child {
  padding-right: 25px;
}
.table-wrapper table thead tr th.short {
  width: 50px;
  text-align: center;
}
.table-wrapper table thead tr th:nth-of-type(1) {
  width: 80px;
}
.table-wrapper table thead tr th:hover {
  background-color: rgba(255, 198, 92, 0.4901960784);
}
.table-wrapper table thead tr th.table-checkbox {
  cursor: default;
}
.table-wrapper table thead tr th.table-checkbox:hover {
  background-color: transparent;
}
.table-wrapper table thead tr th .control-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-wrapper table thead tr th .control-icons .bi-caret-down-fill {
  color: #be0000;
  padding: 4px 8px;
}
.table-wrapper table thead tr th .control-icons .bi-caret-up-fill {
  color: #829460;
  padding: 4px 8px;
}
.table-wrapper table thead tr th .hidden {
  display: none;
}
.table-wrapper table thead tr th .table-header-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.table-wrapper table thead tr th .table-header-wrapper .expand-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: rgba(24, 39, 71, 0.6078431373);
  height: 30px;
  padding-bottom: 0;
  padding-top: 0;
}
.table-wrapper table thead tr th .table-header-wrapper .expand-button i {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.table-wrapper table thead tr th .table-header-wrapper i {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}
.table-wrapper table thead tr th:first-of-type {
  border-radius: 3px 0 0 0;
}
.table-wrapper table thead tr th:last-of-type {
  border-radius: 0 3px 0 0;
}
.table-wrapper table td {
  padding: 12px 15px;
  white-space: nowrap;
}
.table-wrapper table tbody {
  opacity: 1;
}
.table-wrapper table tbody.hide {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.table-wrapper table tbody.table-loader {
  width: 100%;
  pointer-events: none;
  cursor: default;
}
.table-wrapper table tbody.table-loader.none {
  position: absolute;
  display: none;
  z-index: -100;
}
.table-wrapper table tbody.table-loader.none tr {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
.table-wrapper table tbody.table-loader.none tr:nth-of-type(even) {
  -webkit-animation: none;
          animation: none;
}
.table-wrapper table tbody.table-loader.none tr:nth-of-type(odd) {
  -webkit-animation: none;
          animation: none;
}
@-webkit-keyframes table-loader-animation-even {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(238, 238, 238, 0.65);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes table-loader-animation-even {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(238, 238, 238, 0.65);
  }
  100% {
    background-color: transparent;
  }
}
.table-wrapper table tbody.table-loader tr {
  width: 100%;
  color: transparent;
}
.table-wrapper table tbody.table-loader tr:nth-of-type(even) {
  -webkit-animation: table-loader-animation-even 1.4s infinite;
          animation: table-loader-animation-even 1.4s infinite;
}
.table-wrapper table tbody tr {
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.table-wrapper table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.table-wrapper table tbody tr:hover {
  background-color: #dddddd;
}

.table-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
  padding: 0 12px;
}
.table-summary p {
  font-size: 1em;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=table.css.map */