.selectable-list {
    position: relative;
    .input-wrapper {
        margin: 0 10px;
    }
    
    .list {
        padding: 8px 10px;
        height: 380px;
        list-style-type: none;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            padding: 30px 12px;
            border-radius: 10px;
            border: 2px solid rgba(185, 185, 185, 0.3);
            transition: .2s ease-in-out;
            cursor: pointer;
            display: flex;
            justify-content: space-between;

            i {
                margin-right: 10px;
            }

            p {
                margin: 0;
                transition: .2s ease-in-out;
            }

            &:hover {
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
            
            &.added {
                background-color: #0d6dfdcd;
                color: #fff;
                font-weight: 800;
                border: 2px solid #0d6dfd57;
                display: initial;
                cursor: default;
                transition: .4s ease-in-out;

                &.active {
                    .action-wrapper {
                        opacity: 1;
                        z-index: 1;
                        transform: translateY(-10px);
                    }
                }

                .header-wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    
                    i {
                        cursor: pointer;
                        transition: .2s ease-in-out;
                    }
                }

                .action-wrapper {
                    pointer-events: none;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 10px;
                    left: 0;
                    right: 0;
                    background-color: #fff;
                    transition: .3s ease-in-out;
                    opacity: 0;

                    p {
                        color: #111;
                    }

                    textarea {
                        width: 100%;
                        resize: vertical;
                        min-height: 120px;
                        max-height: 200px;
                        background-color: #fff;
                        border-radius: 12px;
                        border: 1px solid rgba(99, 99, 99, 0.1);
                        outline: none;
                        padding: 8px 10px;
                        box-sizing: border-box;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    }
                }
            }

            &.selected {
                background-color: #fff;
                border: 2px solid #0d6dfd;
            }
        }
    }

    .selected-summary {
        padding: 0 10px;

        p {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
        }
    }
}