.selectable-list {
  position: relative;
}
.selectable-list .no-data-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: none;
  text-align: center;
}
.selectable-list .no-data-wrapper .no-data-img {
  transition: 0.3s ease-in-out;
  width: 220px;
  height: 220px;
  opacity: 1;
}
.selectable-list .no-data-wrapper.none {
  opacity: 0;
}
.selectable-list .no-data-wrapper.none .no-data-img {
  opacity: 0;
}
.selectable-list .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.selectable-list .input-wrapper {
  margin: 0 10px;
}
.selectable-list .input-wrapper.disabled {
  pointer-events: none;
}
.selectable-list .list {
  padding: 8px 10px;
  height: 380px;
  list-style-type: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.selectable-list .list li {
  padding: 30px 12px;
  border-radius: 10px;
  border: 2px solid rgba(185, 185, 185, 0.3);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.selectable-list .list li.disabled {
  pointer-events: none;
  color: rgba(24, 39, 71, 0.6078431373);
}
.selectable-list .list li i {
  margin-right: 10px;
}
.selectable-list .list li p {
  margin: 0;
  transition: 0.2s ease-in-out;
}
.selectable-list .list li:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.selectable-list .list li.added {
  background-color: rgba(13, 109, 253, 0.8039215686);
  color: #fff;
  font-weight: 800;
  border: 2px solid rgba(13, 109, 253, 0.3411764706);
  display: initial;
  transition: 0.4s ease-in-out;
}
.selectable-list .list li.added:hover i {
  transform: translateX(4px);
}
.selectable-list .list li.added.disabled {
  background-color: rgba(13, 109, 253, 0.5294117647);
}
.selectable-list .list li.added .expand-wrapper {
  transition: 0.3s ease-in-out;
  height: 0;
}
.selectable-list .list li.added .expand-wrapper button {
  margin-top: 15px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  background-color: rgb(242, 242, 242);
  padding: 8px 12px;
  margin-left: 8px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  color: #be0000;
}
.selectable-list .list li.added .expand-wrapper button:hover {
  background-color: #fff;
}
.selectable-list .list li.added.active .header-wrapper i {
  transform: rotate(180deg);
}
.selectable-list .list li.added.active .expand-wrapper {
  height: 40px;
}
.selectable-list .list li.added.active .expand-wrapper button {
  opacity: 1;
  pointer-events: all;
}
.selectable-list .list li.added .header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.selectable-list .list li.added .header-wrapper i {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.selectable-list .list li.selected {
  background-color: #fff;
  border: 2px solid #0d6dfd;
}
.selectable-list .list li.selected.disabled {
  border: 2px solid rgba(13, 109, 253, 0.737254902);
}
.selectable-list.view-only .list li {
  color: rgba(24, 39, 71, 0.6078431373);
  cursor: default;
}
.selectable-list.view-only .list li.added {
  color: #fff;
}
.selectable-list.view-only .list li:hover {
  box-shadow: none;
}
.selectable-list .selected-summary {
  padding: 0 10px;
}
.selectable-list .selected-summary p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}/*# sourceMappingURL=list.css.map */